<div class="ui-g-12">
  <div class="ui-g-10"></div>
  <div class="ui-g-2"><button pButton type="button" class="ui-button-danger" label="Ekle" icon="fa fa-plus"></button></div>
  <div class="ui-g-12">

    <p-table [value]="studentsList.studentList">
      <ng-template pTemplate="header">
        <tr>
          <th>İd</th>
          <th>T.C. Kimlik No</th>
          <th>Adı</th>
          <th>Soyadı</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-st>
        <tr>
          <td>{{st.id}}</td>
          <td>{{st.nationalId}}</td>
          <td>{{st.name}}</td>
          <td>{{st.surname}}</td>
          <td><button pButton type="button" label="Güncelle"></button></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>